* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
  background: url("images/bg-pattern-top-mobile.svg") white;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid red;
  width: 55vh;
  margin: auto;
  color: hsl(300, 43%, 22%);
  padding: 10px;
  line-height: 1.5rem;
  text-align: center;
  border: 2px solid red;
}
.header {
  width: 50vh;
  border: 2px solid yellow;
  padding: 20px;
  margin: 0 auto;
}
h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 1000;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 2rem;
  width: 250px;
}

.header p {
  margin-top: 20px;
}
.star-container {
  height: 70px;
  margin-top: 20px;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
}
.review-container p {
  margin-top: 5px;
}
.user-image-cnt img {
  border-radius: 50px;
}
.user-image-cnt {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.username p:first-child {
  color: white;
}
.username p:nth-child(2) {
  color: hsl(333, 80%, 67%);
  margin-top: 5px;
}
.user-reviews-cnt {
  background-color: hsl(300, 43%, 22%);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  width: 375px;
  margin: 0 auto;
  margin-top: 40px;
  color: hsl(300, 24%, 96%);
}
.comment-container {
  margin-top: 20px;
  border: 2px solid green;
  padding: 15px;
  line-height: 1.5rem;
  width: 300px;
  margin: 0 auto;
}
